body {
  font-family: Arial, "sans-serif";
  margin: 0;
}

.header {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.logo {
  font-size: 24px;
  font-weight: 800;
  color: #F9FAF8;
  margin-left: 50px;
}

#img-hover:hover {
  opacity: 0.5;
}

.header-links {
  font-size: 18px;
  margin-right: 100px;
}

.section-one {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: auto;
  padding: 50px;
}

.intro-card {
  color: #F9FAF8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-right: 50px;
  max-width: 500px;
  height: 400px;
  width: auto;
}

.intro-img {
  margin-right: 100px;
  border-radius: 15px;
}

#hero-text {
  font-size: 48px;
  flex-wrap: row wrap;
  margin: 0;
}

#hero-subtext {
  color: #E5E7EB
}

.section-two {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.cards-intro-title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 800;
  color: #1F2937
}

.info-cards {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.card {
  justify-content: center;
  text-align: center;
}

#blue-img {
  border: 4px solid #3882F6;
  border-radius: 15px;
  width: auto;
  height: 200px;
}

.section-three {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  padding: 25px 250px 25px 250px;
}

.quote {
  color: #1F2937;
  font-size: 36px;
  font-style: italic;
  justify-content: flex-start;/*?*/
}

#quote-text {
  font-weight: 100;
  margin: 0;
}

.author {
  color: #1F2937;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

.section-four {
  background-color: #3882F6;
  display: flex;
  justify-content: center;
  height: 150px;
  margin: 50px 200px 50px 200px;
  border-radius: 15px;
}

.sign-up-container {
  display: flex;
  align-items: center;
  gap: 250px;
}

.sign-up-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 7px;
}

.sign-up-subtext {
  color: #E5E7EB;
  font-size: 18px;
}

.footer {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0 25px 0;
}

button {
  background-color: #3882F6;
  color: white;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 120px;
  border: 2px solid #3882F6;
  border-radius: 12px;
  padding: 15px;
}

button:hover {
  background-color: #00aced;
}

#white-border {
  border: 2px solid white;
}

ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

a {
  color: #E5E7EB;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

/*
* {
  border: 1px solid red;
}