body {
  font-family: Arial, "sans-serif";
  margin: 0;
}

.header {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.logo {
  font-size: 24px;
  font-weight: 800;
  color: #F9FAF8;
  margin-left: 50px;
}

.header-links {
  font-size: 18px;
  margin-right: 100px;
}

.section-one {
  background-color: #1F2937;
  height: 450px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.intro-card {
  color: #F9FAF8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-right: 50px;
  max-width: 500px;
  height: 400px;
  width: auto;
}

.intro-img {
  margin-right: 100px;
}

#hero-text {
  font-size: 48px;
  flex-wrap: row wrap;
  margin: 0;
}

#hero-subtext {
  color: #E5E7EB
}

.section-two {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-intro-title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 800;
  color: #1F2937
}

.info-cards {
  display: flex;
}

.card {
  border: 2px solid #3882F6;
  justify-content: center;
}

.section-three {
  background-color: #E5E7EB;
  justify-content: center;
}

.quote {
  color: #1F2937;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.author {
  color: #1F2937;
}

.section-four {
  background-color: #3882F6;
  display: flex;
  justify-content: center;
}

.sign-up-container {
  display: flex;
  align-items: center;
  gap: 25px;
}

.sign-up-title {
  font-size: 18px;
}

.footer {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0 25px 0;
}

button {
  background-color: #3882F6;
  color: white;
  height: 30px;
  width: 100px;
  border: 1px solid #3882F6;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

/*
* {
  border: 1px solid red;
}